*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;;
    height: 100vh;
  }

  body{
      background-color:#FFFEED;
  }

  li{
      list-style: none;
  }
  a{
      text-decoration: none;
  }
  .header {
      border-bottom: 1px solid #e2e8f0;
      background-image: linear-gradient(to right,#6B03BD 20%,#9859E9);
  }
  .navbar{
      display:flex;
      justify-content:space-between;
      align-items:center;
      padding:1rem 1.5rem;
  }
  .hamburger{
      display:none;
  }
 
  .nav-menu{
      display:flex;
      float:left;
      justify-content:space-between;
      align-items:center;
  }
  .nav-item{
      margin-left: 5rem;

  }
  .nav-link{
        font-size: 1.6rem;
        font-weight: 400;
        color:#482ff7;
  }
  .nav-link:hover{
      color:#482ff7;
  }
  nav button{
      padding:15px 32px;
      border:none;
      background-color:#6B03BD;
      font-size:16px;

  }

   nav button:hover{
      background-color:#7b06d5;
  }

.searchbox{
    display:flex;
    justify-content:center;
    /*border: solid red;*/
    max-width:50%;
    padding:25px;
    margin-left: 28%;
    margin-top:3rem;
}

.searchbox button{
      padding:15px 32px;
      border-radius:15px;
      border:none;
      background-color:#6B03BD;
      font-size:16px;    
}
.searchbox button:hover{
    background-color:#7b06d5;
    box-shadow: 5px 5px 6px 0 rgba(0, 0, 0, 0.379) 
}
#fill{
    /*border:solid green*/
    padding:2px;
}

  input{
    
    height:5rem;
    width:inherit;
    /*border-radius:10px;*/
    font-size:30px;
    border-radius: 20px;
  }

  /*@media only screen and (max-width: 768px) {
      .nav-menu{
          position: fixed;
          left:-100%;
          top:5rem;
          flex-direction: column;
          background-color:#6B03BD;
          width: 100%;
          border-radius:10px;
          text-align: center;
          transition: 0.3s;
          box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05)
      }
      .nav-menu.active{
          left:0;
      }
      .nav-item{
          margin:2.5rem 0;
      }
     
    
     
  }

  