@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;;
  height: 100vh;
}

body{
    background-color:#FFFEED;
}

img{
  image-rendering: pixelated;
}

#logo{
    font-family: 'Play', sans-serif;
    font-size:4em;
    /*border: 1px solid green;*/
    color:white;
    float: right;
    margin-top:8px;
}

.header {
    display:flex;
    border-bottom: 1px solid #e2e8f0;
    background-image: linear-gradient(to right,#6B03BD 20%,#9859E9);
}

.header button{
  font-size: 18px;
  font-family: 'Play', sans-serif;
}

.navbar{
    /*display:flex;*/
    justify-content:space-between;
    width: 100%;
    align-items:center;
    padding:1rem 1.5rem;
    height: 100%;
}

#hamitems{
  display:flex;
  float:left;
}

#hamitems a{
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}

#hamitems a:hover{
  background-color: #7b06d5;
}

.navbar label, #hamburger{
    display:none;
}

nav button{
  padding:15px 32px;
  border:none;
  background-color:#6B03BD;
  font-size:16px;
  height: 100%;
  color:white;
}

nav button:hover{
  background-color:#7b06d5;
}

.searchbox{
  display:flex;
  justify-content:center;
  /*border: solid red;*/
  max-width:50%;
  padding:25px;
  margin-left: 28%;
  margin: auto;
}

.searchbox button{
  height: 5rem;
  padding:15px 32px;
  border-radius:10px;
  border:none;
  background-color:#D3B8F5;
  font-size:16px;    
  cursor: pointer;
}
.searchbox button:hover{
  background-color:#865db9;
  box-shadow: 5px 5px 6px 0 rgba(0, 0, 0, 0.379) 
}

::placeholder{
  padding-left: 10px;
  font-size: 24px;
}

#fill{
  /*border:solid green*/
  padding:2px;
}

input{ 
  border-width: 3px;
  height:5rem;
  width:inherit;
  /*border-radius:10px;*/
  font-size:30px;
  border-radius: 10px;
  padding-left: 10px;
}

.list-container{
  text-align: center;
}

.gens{
  padding:16px 25px;
  border-radius: 20em;
  border: none;
  background-color:#D3B8F5;
  margin-bottom:30px;
}

.gens:hover{
  box-shadow: 5px rgba(0, 0, 0, 0.379);
  border:.5px solid black;
  background-color:#865db9;
  color: white;
}

/*card layout*/
.pokeList{
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
}

.pokeList{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
}


/* If no color then this is the stand in*/
.pokeList .card{
  max-width: 210px;
  background-color: cadetblue;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  margin: 12px;
  padding-bottom: 50px;
  padding-top: 10px;
  box-shadow: 7px 8px 0px 0px rgba(8, 1, 1, 0.393); 
  text-align: center;
  cursor: pointer;
  font-size: 11px;
  font-family: 'Play', sans-serif;
}

.card img{
  width: 200px;
  height: auto;
}

#randomPokemon {
  align-items: center;
  margin-top:30px;
}

#random{
  padding:16px 25px;
  border-radius: 20em;
  border: none;
  background-color:#D3B8F5;
  margin-bottom:10px
}

#random:hover{
  box-shadow: 5px rgba(0, 0, 0, 0.379);
  border:.5px solid black;
  background-color:#865db9;
  color: white;
}

#randomPokemon .card-image-front{
  height: 300px;
  width: auto;
  position: relative;
  left: -18rem;
  top: 0px;
}

#randomPokemon .card-title{
  /* border: solid red; */
  text-align: center;
  font-size: 28px;
  font-family: 'Play', sans-serif;
}

#randomPokemon .card{  
  max-width: 700px;
  height: 400px;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  padding-bottom: 50px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  margin: auto;  
  box-shadow: 7px 8px 0px 0px rgba(8, 1, 1, 0.301); 
  cursor: pointer;
}

.info-box{
  max-width: 300px;
  height: 200px;
  background-color: cadetblue;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 25px 5px;
  position: relative;
  top: -230px;
  left: 330px;
  box-shadow: 3px 5px 0px 0px rgba(8, 1, 1, 0.301); 
  text-align: left;
}

.card_text{
  font-size: 26px;
  list-style: none;
  padding: 8px;
  margin: auto;
  font-family: 'VT323', monospace;
}

.stats .card_text{
  font-size: 40px;
  list-style: none;
  padding: 3px;
  margin: auto;
  font-family: 'VT323', monospace;
  text-align: left;
}

.stats .card-title{
  /* border: solid red; */
  text-align: center;
  font-size: 28px;
  font-family: 'Play', sans-serif;
  position: relative;
  top: -100px;
}

.stats{
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats .card_body img{
  width: 300px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: -40px;
}

.stats{  
  max-width: 800px;
  height: 980px;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin: auto;  
  box-shadow: 7px 8px 0px 0px rgba(8, 1, 1, 0.301); 
}

.stat-box{
  max-width: 600px;
  height: 460px;
  background-color: cadetblue;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: -100px;
  padding: 20px 40px;
  box-shadow: 3px 5px 0px 0px rgba(3, 31, 151, 0.493); 
  position: relative;
  left: 60px;
}

@media only screen and (min-width: 100px) and (max-width: 600px) {
  .navbar{
      display:inline-block;
      width: 100%;
      align-items:center;
      padding:.5rem 1.5rem;
      height: 100%;
  }
  #logo{
    font-size:3em;
  }

  #hamburger{
    height: 20px;
  }

  #hamitems{
      display:flex;
      float:none;
  }
  #hamitems a{
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
}

nav button{
  padding:15px 32px;
  border:none;
  background-color:#6c03bd00;
  font-size:16px;
  height: 100%;
}

.navbar label {
    display:inline-block;
    color:white;
    background:#6B03BD;
    font-style: normal;
    font-size: 2em;
    padding:10px;
}

#hamitems{
    display:none;
}

.navbar input:checked~#hamitems{
  display:block;
}

input{ 
  border-width: 3px;
  height:5rem;
  width:200px;
  /*border-radius:10px;*/
  font-size:20px;
  border-radius: 10px;
  padding-left: 10px;
}

.pokeList .card{
  max-width: 300px;
  height: auto;
}

.card img{
  width: 260px;
  height: auto;
}

  #randomPokemon .card{ 
    max-width: 60vh;
    height: 520px;
    margin: 20px;  
    display: block;
    margin-left: 10px;
    margin-right: 10px;
  }

  #randomPokemon .card-image-front{
    height: 250px;
    width: auto;
    position: relative;
    left: 0px;
  }

  .info-box{
    position: relative;
    top: 4px;
    left: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .stats{  
    max-width: 50vh;
    height: 94rem;
    margin: 20px;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
  }

  .stats .card-title{
    /* border: solid red; */
    text-align: center;
    font-size: 28px;
    margin-bottom: 0px;
    margin-top: 110px;
  }

  .stats .card_body img{
    height: 250px;
    width: auto;
    margin-top: -90px;
  }

  .stats .card_body .front-shiny{
    margin-top: 10px;
  }

  .stat-box{
    height: 340px;
    width: 50vh;
    padding: 10px 10px;
    position: relative;
    top: -40px;
    left: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .stats .card_text{
    font-size: 28px;
  }
}


